* {
	padding: 0;
	margin: 0;
	list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* #Fonts */
@font-face {
    font-family: 'misobold';
    src: url('fonts/miso-bold-webfont.eot');
    src: url('fonts/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso-bold-webfont.woff') format('woff'),
         url('fonts/miso-bold-webfont.ttf') format('truetype'),
         url('fonts/miso-bold-webfont.svg#misobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'misolight';
    src: url('fonts/miso-light-webfont.eot');
    src: url('fonts/miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso-light-webfont.woff') format('woff'),
         url('fonts/miso-light-webfont.ttf') format('truetype'),
         url('fonts/miso-light-webfont.svg#misolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'misoregular';
    src: url('fonts/miso-regular-webfont.eot');
    src: url('fonts/miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/miso-regular-webfont.woff') format('woff'),
         url('fonts/miso-regular-webfont.ttf') format('truetype'),
         url('fonts/miso-regular-webfont.svg#misoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing 
    #Font light - weight:300;
    #Font normal - weight:400;
    #Font semibold - weight:600;
    #Font bold - weight:700;
    */
    

/************************************************/
body {
  color: #162c55;
}
p {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
header {
  background-color: #ffffff;
}
header.interna {
  padding-bottom: 320px;
}

header h1, header span img {
  width: 105px;
  height: 99px;
  display: inline-block;
}
header h1 a {
  width: 105px;
  height: 99px;
  background: url("../img/eleicoes-digitais.png") no-repeat 0 0;
}

nav {
  display: inline-block;
  position: absolute;
  bottom: 16px;
  right: 0;
}
nav ul li {
  display: inline-block;
  margin-right: 12px;
  padding-left: 5px;
  vertical-align: middle;
  border-left: 2px solid #ef6828;
}
nav ul li:last-child { 
  border-left: none;
  margin-right: 0;
}
nav ul li a {
  font-family: "misoregular", sans-serif;
  font-size: 24px;
  color: #182e57;
  line-height: 20px;
  text-shadow: 0px 0px 1px #182e57;

}
nav ul li a:hover, 
nav ul li a:focus,
nav ul li a.active {
  border-bottom: 2px solid #ef6828;
}
nav ul li:last-child a:hover,
nav ul li:last-child a:focus { 
  border-bottom: 0;
}
.full.bg {
  background-image: url("../img/all_24.png");
  background-position: center top;
}

.full.contato {
  background-image: url("../img/banner-contato.png");
}
.full.quem-somos {
  background-image: url("../img/banner-quem-somos.png");
}
.full.o-que-fazemos {
  background-image: url("../img/banner-o-que-fazemos.png");
}
.full.como-fazemos {
  background-image: url("../img/banner-como-fazemos.png");
}
.full.portfolio {
  background-image: url("../img/banner-portfolio.png");
}
.full.big-data {
  background-image: url("../img/banner-interna-big-data.png");
}
.full.offline {
  background-image: url("../img/banner-interna-offline.png");
}


main {
  display: table;
}
section.home {
  margin-bottom: 90px;
}

.box-destaque {
  border: 1px solid #ffffff;
  height: 313px;
  position: relative;
  overflow: hidden;
}
.box-destaque img {
  width: 100%;
  height: auto;
}
/*.box-destaque h2 {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #ffffff;
  font-size: 24px;
  font-family: "misobold", sans-serif;
  text-shadow: 0 0 1px #ffffff;
  text-align: right;
}*/



/* conteudo */
.inicial {
  margin-bottom: 20px;
}
.inicial img {
  float: left;
  display: block;
}
.inicial h2 {
  float: left;
  width: 410px;
  padding: 162px 10px 0 10px;
  margin-bottom: 0 !important;
  display: block;

}
ul.list-portifolio {
  width: 100%;
  display: table;
  margin-bottom: 20px;
}
ul.list-portifolio li h2 {
  float:left;
  width: 212px;
  height: 210px;
  display: block;
  color: #ef6828;
  border: 1px solid #ef6828;
  padding-top: 80px;
  text-align: center;

}
ul.list-portifolio li ul {
  float: left;
  width: 640px;
}
ul.list-portifolio li ul li {
  float: left;
  width: 212px;
  height: 210px;
  margin: 0 0 1px 1px;
  position: relative;
  display: block;
}
ul.list-portifolio li ul li span {
  position: absolute;
  top: 10px;
  width: 30px;
  height: 30px;
  display: block;
  color: #ffffff;
  font-size: 22px;
  font-family: "misoregular", sans-serif;
  text-align: right;
  text-shadow: 0 0 1px #ffffff;
}
ul.list-portifolio li ul li h3 {
   position: absolute;
  bottom: 5px;
  right: 5px;
  width: 136px;
  margin-bottom: 0;
  display: block;
  color: #ffffff;
  font-size: 22px;
  font-family: "misoregular", sans-serif;
  text-align: right;
}





main .titcontact {
  font-family: "misoregular", sans-serif;
  font-size: 48px;
  line-height: 40px;
  color: #182e57;
  text-shadow: 0 0 1px #182e57;
  padding-left: 5px;
  border-left: 4px solid #ef6828;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  height: 30px;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}


/* formulários */

.contactform,
.contactform p {
  font-family: "misoregular", sans-serif; 
}
.content .contactform {
  width: 100%;
  display: table;
}
.content .contactform h2 { 
  font-size: 48px;
}

.contactform p {
  font-size: 24px;
  line-height: 25px;
}
.contactform p a {
  color: #182e57;
  text-decoration: underline;
}
.contactform p a.twt {
  color: #ef6828;
  background: url("../img/menu-twitter.png") no-repeat 0 5px;
  padding-top: 5px;
  padding-left: 30px;
  display: block;
}

form ul li {
  background-color: #ffffff;
  border: 1px solid #efefef;
  width: 400px;
  margin-bottom: 2px;
}
form ul li:last-child { 
  background-color: transparent;
  border: 0;
  margin-bottom: 50px;
  margin-top: 10px;
}
form ul li label { 
  width: 100px;
  display: inline-block;
  vertical-align: top;
  padding-left: 16px;
  font-size: 24px;

}

input[type=text],
input[type=email],
input[type=password],
input.input-text,
select {
  border: 0;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  width: 280px;
  font-family: "misoregular", sans-serif; 
}
input[type=submit] {
  width: 112px;
  height: 30px;
  border: 0;
  background: url("../img/botao-enviar.png") no-repeat left top;
  text-align: right;
  float: right;
  cursor: pointer;
}

textarea {
  border: 0;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  width: 280px;
  min-height: 100px; 
  font-family: "misoregular", sans-serif;
  resize: none;
}


/* #Base Grid
================================================== */
.content {
  padding: 32px 46px;
  background-color: #ffffff;
  position: relative;
  margin-top: -32px;
}
.content h1 {
  font-family: "misoregular", sans-serif;
  font-size: 48px;
  color: #182e57;
  text-shadow: 0 0 1px #182e57;
  margin-bottom: 20px;
}

.content h2 { 
  font-family: "misoregular", sans-serif;
  font-size: 28px;
  color: #182e57;
  /*text-shadow: 0 0 1px #182e57;*/
  margin-bottom: 20px;
}
.content h3 { 
  font-family: "misoregular", sans-serif;
  font-size: 28px;
  color: #ef6828;
  /*text-shadow: 0 0 1px #182e57;*/
  margin-bottom: 20px;
}


.full {
  width: 100%;
  background-color: #ffffff;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.bgbox {
  background-color: #ffffff;
  padding:15px;
  width: 75%;
  float: right;

}

.wrapper { 
  position: relative; 
  width: 946px; 
  margin: 0 auto; 
  padding: 0; 
  /*background-color:#ffffff;*/
}
.wrapper .column,
.wrapper .columns {
  float: left; 
  display: inline;
  /*padding: 0 10px;*/
}

/* Base Grid */
.wrapper .one.column,
.wrapper .one.columns { 
  width: 100%;  
}
.wrapper .two.columns { 
  width: 50%; 
}
.wrapper .three.columns { 
  width: 33%; 
  
}
.wrapper .four.columns { 
  width: 25%; 
}
.wrapper .five.columns { 
  width: 20%; 
}

/* #Tablet (Portrait)
================================================== */
/* 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {

.wrapper { 
  position: relative; 
  width: 500px; 
  margin: 0 auto; 
  padding: 0; 
  background-color:#ffffff;
}
 }


/*  #Mobile (Portrait)
================================================== */
/* 320px */
@media only screen and (max-width: 767px) { }


/* #Mobile (Landscape)
================================================== */
/* 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) { }







/* #Clearing
================================================== */

.wrapper:after { 
  content: "\0020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
      clear: both; 
}
.clearfix {
  zoom: 1; 
  display: block;
  clear: both;
}
.ir, 
a.ir {
  text-indent: -999999px;
  overflow: hidden;
  display: block;
  text-align: left !important;
}
.oculto {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  display: none;
  
  background-color: #000000;
}
.oculto a {
  color: #ffffff;
  height: 30px;
  display: block;
  padding-top: 5px;
}


/* carousel */
.jcarousel-wrapper {
    margin: 0 auto;
    position: relative;
    display: block;
}



/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    /*width: 980px;*/
    max-width: 1278px;
    height: 610px;
    margin: 0 auto;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    width: 1278px;
    text-align: center;
   
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 300px;
    right: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: block;
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
    border: 2px solid #ef6828;
    color: #4E443C;
    border-radius: 50%;
    padding: 3px;

    /*opacity: .75;*/
    text-indent: -999999px;
    overflow: hidden;
}

.jcarousel-pagination a.active {
    background: #ef6828;
    color: #fff;
    /*opacity: 1;*/
}
